<font color="#000000">

<p><b>USER LICENSE AGREEMENT mySCM</b></p>

<p><b>IMPORTANT NOTICE: THE USER SHOULD READ THIS LEGALLY BINDING AGREEMENT CAREFULLY. BY CLICKING ‘I ACCEPT’ AND BY DOWNLOADING THE MYSCM APPLICATION (REFERRED TO AS “MYSCM”) YOU (REFERRED TO AS “THE USER”) AGREE TO BE BOUND BY THE FOLLOWING TERMS: </b> </p>

<ol> <li><p><b>General</b></p>
    
    <ol type="a"> <li><p>The software, mySCM (referred to as “the App”) created and provided by Dayspring Media Intercraft Pty Ltd (ABN 13 087 804 288) (referred to as “Dayspring”) connects and synchronises data between the User’s iPad device and the User’s SCM Central Server. </p>
        
    </li>
    <li><p>MySCM is licensed, and not sold to you by Dayspring for use only under the terms and conditions of this license for a monthly license fee as shown in the License Fee Payment Schedule. </p>
        
    </li>
    <li><p>Dayspring reserves all rights not expressly granted to you.</p>
        
    </li>
    </ol> </li>
</ol><p><br />
<br />
</p>

<ol start="2"> <li><p><b>Permitted License Uses and Restrictions</b></p>
    
    <ol type="a"> <li><p>Subject to the terms and conditions of this license, you are granted a limited, non-exclusive license to use the App on a single iPad device. This license does not permit the App to exist on more than one device at a time and you may not distribute or make the App available over a network where it can be used by more than one device at a time. </p>
        
    </li>
    <li><p>You are granted a limited non-exclusive license to download updates to the App which are made available by Dayspring from time to time.</p>
        
    </li>
    <li><p>The coding, visual interfaces, features, information, graphics, design, compilation, services and all elements of the App are protected by Australian copyright law.</p>
        
    </li>
    <li><p>You agree that you will not sell, license, distribute, copy, modify, display, transmit, publish, edit, adapt, or otherwise make unauthorised use of the App or related materials. You agree that you will not decompile, reverse engineer, disassemble, attempt to derive the source code of, decrypt, modify or create derivative works of the App. </p>
        
    </li>
    <li><p>You agree to use the App in compliance with all applicable laws of your jurisdiction.</p>
        
    </li>
    </ol> </li>
</ol><p><br />
<br />
</p>

<ol start="3"> <li><p><b>Transfer</b></p>
    
    <ol type="a"> <li><p>You shall not assign this license without the prior written consent of Dayspring, whose consent shall not be unreasonably withheld. Should Dayspring consent to the assignment, you shall not be entitled to retain a copy of in whole or in part, of the App.</p>
        
    </li>
    </ol> </li>
</ol><p><br />
<br />
</p>

<ol start="4"> <li><p><b>Security and Passwords</b></p>
    
    <ol type="a"> <li><p>You agree to create an account to access and synchronise with the database on SCM Central. You will provide true, correct, current and complete information and ensure that your information is kept accurate at all times. </p>
        
    </li>
    <li><p>You agree that you are solely responsible for maintaining the confidentiality of your username and password and accept all responsibility for all events that occur under your login identity. </p>
        
    </li>
    <li><p>You agree to notify the authorised administrator of SCM Central and Dayspring without delay in the event your password security is compromised. </p>
        
    </li>
    <li><p>Dayspring is not liable for any loss incurred or damage caused should your password security be compromised and you agree to indemnify Dayspring against any loss or damage suffered as a consequence of your failure to protect your account information. </p>
        
    </li>
    </ol> </li>
</ol><p><br />
<br />
</p>

<ol start="5"> <li><p><b>Privacy </b> </p>
    
    <ol type="a"> <li><p>Dayspring Media acknowledges the importance of protecting the privacy of the customer and the end users. </p>
        
    </li>
    <li><p>By using the App you acknowledge that the information entered by you via the App will be synchronised from time to time with the SCM Central when your device has access to the internet. </p>
        
    </li>
    <li><p>SCM Central may capture an extended log file of the date and time of synchronisation and IP address. </p>
        
    </li>
    <li><p>The App may install cookies to allow the App recognise the User’s account and to provide better functionality for the User.</p>
        
    </li>
    <li><p>Dayspring undertakes to exercise good faith in maintaining all confidential information and will comply with the requirements of the <i>Privacy Act 1998</i> (Cth) to the extent that the Act applies such information will only use such information for the purposes of complying with this license.</p>
        
    </li>
    </ol> </li>
</ol><p><br />
<br />
</p>

<ol start="6"> <li><p><b>Noticeboard and copyright</b></p>
    
    <ol type="a"> <li><p>The App facilitates the submission and posting of information and notices by other related users of the App and SCM Central (referred to as “the Noticeboard”). You acknowledge that Dayspring does not monitor the content, assumes no responsibility for the content, and has no obligation to modify or remove inappropriate content. Dayspring will provide access to the authorised administrator of SCM Central to modify or pre-screen the Noticeboard submissions.</p>
        
    </li>
    <li><p>You are solely responsible for your Noticeboard submissions and the consequences of posting or publishing them.</p>
        
    </li>
    </ol> </li>
</ol><p><br />
<br />
</p>

<ol start="7"> <li><p><b>Exclusions</b></p>
    
    <ol type="a"> <li><p>Dayspring may make changes or discontinue any of the functions available within the App for the benefit of the User without notice. </p>
        
    </li>
    <li><p>In the event that any change by Dayspring materially and detrimentally affects the functionality of the App, Dayspring shall provide the User with a minimum of thirty days’ notice, during which time the User may cancel its license and discontinue use of the App.</p>
        
    </li>
    </ol> </li>
</ol><p><br />
<br />
</p>

<ol start="8"> <li><p><b>Termination</b></p>
    
    <ol type="a"> <li><p>Either party may terminate this license at any time upon thirty days’ notice to the other without cause. Dayspring may also immediately terminate this license agreement in the event of a breach by the User. </p>
        
    </li>
    <li><p>Upon such termination, the User shall not be permitted to use the App and shall delete or destroy all copies of the App in its possession. Dayspring may restrict, prevent or cease to authorise the synchronisation of data on the device. </p>
        
    </li>
    <li><p>Termination shall not entitle the User to any refund, credit or other compensation from Dayspring except for the unused portion of any prepaid license fees. </p>
        
    </li>
    </ol> </li>
</ol><p><br />
<br />
</p>

<ol start="9"> <li><p><b>Disclaimers</b></p>
    
    <ol type="a"> <li><p>It is the responsibility of the User to regularly synchronise information stored by the App on the device with SCM Central. The information obtained via the App is provided by the user of SCM Central. Dayspring is not liable for any incorrect or superseded information stored in the App or provided by SCM Central.</p>
        
    </li>
    <li><p>The User acknowledges and accepts that service and functionality of the App may be interrupted, have errors, bugs or other harmful components outside Dayspring’s control. Dayspring will use its best endeavors to cause as little interruption to the service. The User will notify Dayspring immediately if it has issues with functionality and Dayspring will use its reasonable endeavors to correct any errors with the software. </p>
        
    </li>
    <li><p>It is the responsibility of the User to ensure that its information and technology hardware and/or device meet the minimum requirements to operate the App. </p>
        
    </li>
    <li><p>Dayspring is not responsible for any defects, data corruption, software failure or performance degradation caused by viruses or any other software components on your hardware or device which may interfere with the way the App operates. </p>
        
    </li>
    <li><p>The User understands and agrees that the data obtained via the App is at its own discretion and risk and the User accepts responsibility for any damage to its property, including computer system, iPad, device, and any loss of data that might result from the download or use of the App.</p>
        
    </li>
    </ol> </li>
</ol><p><br />
<br />
</p>

<p><br />
<br />
</p>

<ol start="10"> <li><p><b>Limitation of Liability</b></p>
    
    <ol type="a"> <li><p>Dayspring, its contractors, employees, agents or directors are excluded from liability of any special, indirect, incidental, consequential or exemplary damages including loss of profits, data or use or cost of cover arising out of or relating to these terms as far as permitted by law. </p>
        
    </li>
    <li><p>Should Dayspring in any circumstances be liable for any loss whatsoever, damages shall be limited to a refund of any prepayments in the license fee and from the period of time that the end user notifies Dayspring of its errors, bugs or limitations and functions.</p>
        
    </li>
    </ol> </li>
</ol><p><br />
<br />
</p>

<ol start="11"> <li><p><b>Jurisdiction </b> </p>
    
    <ol type="a"> <li><p>These Terms shall be governed by and construed in accordance with the laws of the State of New South Wales, Australia, without giving effect to any principles of conflicts of law.</p>
        
    </li>
    </ol> </li>
</ol><p><br />
<br />
</p>

<ol start="12"> <li><p><b>Severability </b> </p>
    
    <ol type="a"> <li><p>If any provision of these terms are determined unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from these terms and shall not affect the validity or enforceability of any remaining provisions.</p>
        
    </li>
    </ol> </li>
</ol><p><br />
<br />
</p>

<p><br />
<br />
</p>


