<font color="white">

<h2>About us</h2>
<p>
The concept emerged due to the need to bridge the gap between the ever-growing talent and its exposure to the spectrum of requirements within the entertainment industry. The aim is to provide a platform to the talent to showcase itself and to disseminate the valuable information of the availability of such talent to the potential beneficiaries. This platform will provide the amateurs and professionals a reach in the entertainment industry.
</p>
<p>
In particular the focus is on youth who are the backbone of the future world of entertainment. This exposure will help to identify and then nurture the talent within them.
</p>
<p>
Entertainment and talent at your finger tips is our motto. Hence we need to be accessible from a range of devices and formats. 
As artists share their passions with Fans across social networks, there is an authentic community of engagement around popular shared interest. Each artist has a chance to create an impressive portfolio.
</p>
<p>
Show the nation your hidden talent. With a blend of technology and creativity, we showcase our idea of channelizing the new talent for movies, television shows, ad films and products that need an identity. Each one of us has an ambition to reach stardom. We work constantly on behalf of our valued members to rejuvenate neglected talents and to transform talents besides promoting movies. 
</p>
<p>
Life becomes interesting when there is a possibility of a dream to come true.<br />
We envisage providing a transparent via media, be it a tablet or mobile between budding stars yearning for the correct launch pad into tinsel town and establish doyens of the world of theater and cinema.
</p>
</font>

